.SignUpError {
  padding: 15px;
  color: red;
}

.SignUpButtons {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.SignUpButton {
  width: 50%;
  padding: 15px;
  cursor: pointer;
}